@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
    width:100%;
    height:80vh;
    background-image: url('img/star\ uó\ topo.png');
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}
.container-header{
    width:73vw;
    height:13vh;
    display:flex;
    justify-content:space-between;
    align-items: center;
    position:absolute;
    top:43vh;
    left:19vw;
}
.fundo-header{
    width: 100vw;
    height:80vh;
}
.star-header{
    width:25vw;
    height:12vh;
}
.wars-header{
    width:25vw;
    height:12vh;
}
.kylo-container{
    position:absolute;
    top:2vh;
    left:11vw;
    z-index:1;
}
.kylo-header{
    width:70vw;
    height:95vh;
}
.menu-header{
    width:8vw;
    height:15vh;
    position:absolute;
    top:60vh;
    left:70vw
}
.section-central{
    width:100%;
    height:150vh;
    display:flex;
    position:relative;
}
.background-central{
    width:45vw;
    height:140vh;
}
.background-img{
    width:45vw;
    height:140vh;
}
.download-central{
    width:25vw;
    height:68vh;
    z-index:1;
    position:absolute;
    left:16vw;
    bottom:87vh;
}
.download-img{
    width:20vw;
    height:55vh;
}
.download{
    width:10vw;
    height:5vh;
    background-color:#FF8C00;
    color:white;
    font-weight:bold;
    border:solid white;
    border-radius:2px;
    position:absolute;
    top:41vh;
    left:5vw;
}
.download:hover{
    cursor:pointer;
    transform:scale(1.1);
    background-color: orangered;
}
.sobreojogo-central{
    width:45vw;
    height:25vh;
    position:absolute;
    top:25vh;
    left:45vw;
}
.sobreojogo-img{
    width:50vw;
    height:25vh;
}
.linha-central{
    width:81vw;
    border:solid gray;
    position:absolute;
    top:61vh;
    left:15vw;
}