@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@900&family=Roboto:wght@900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
    width:100%;
    height:80vh;
    background-image: url('img/star\ uó\ topo.png');
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}
.container-header{
    width:73vw;
    height:13vh;
    display:flex;
    justify-content:space-between;
    align-items: center;
    position:absolute;
    top:43vh;
    left:19vw;
}
.fundo-header{
    width: 100vw;
    height:80vh;
}
.star-header{
    width:25vw;
    height:12vh;
}
.wars-header{
    width:25vw;
    height:12vh;
}
.kylo-container{
    position:absolute;
    top:2vh;
    left:11vw;
    z-index:1;
}
.kylo-header{
    width:70vw;
    height:95vh;
}
.menu-header{
    width:10vw;
    height:15vh;
    position:absolute;
    top:60vh;
    left:70vw
}
.menu-header-h2{
    font-size:1.5rem;
    padding-bottom:2vh;
}
.linha-header{
    border: 1px solid black;
}
.menu-header-p{
    font-size:1.2rem;
}
.menu-header-span{
    font-size: 1.4rem;
}
.btn-header{
    width:1vw;
    position:absolute;
    background-color:#75838D;
    border:none;
    border-radius:0;
    top:11.5vh;
    left:7vw;
    cursor:pointer;
}
.bt-header{
    width:1vw;
    position:absolute;
    background-color:#75838D;
    border:none;
    border-radius:0;
    top:11.5vh;
    left:5vw;
    cursor:pointer;
}
.section-central{
    width:100%;
    height:150vh;
    display:flex;
    position:relative;
}
.background-central{
    width:45vw;
    height:140vh;
}
.background-img{
    width:45vw;
    height:140vh;
}
.download-central{
    width:20vw;
    height:55vh;
    z-index:1;
    background-image: url(img/stormred.png);
    background-size:cover;
    position:absolute;
    left:16vw;
    bottom:100vh;
}
.h2-download{
    width:48%;
    color:#fff;
    font-size:2.2rem;
    position:absolute;
    top:8vh;
    left:5.5vw;
}
.p-download{
    width:82.5%;
    color:#fff;
    font-weight:300;
    font-size:0.9rem;
    position:absolute;
    top:27vh;
    left:2vw;
}
.download{
    width:10vw;
    height:5vh;
    background-color:transparent;
    color:white;
    font-weight:bold;
    border:1px solid white;
    border-radius:15px;
    overflow:hidden;
    position:relative;
    top:41vh;
    left:5vw;
}
.download::before{
    content: '';
    top:50%;
    left:50%;
    width:110%;
    height:0%;
    transform:translate(-50%, -50%) rotate(60deg);
    position:absolute;
    background-color:#CD0000;
    box-shadow:200px 200px 200px 200px navajowhite;
    z-index:-1;
    transition:all .5s ease;
}
.download:hover::before{
    height:350%;
}
.sobreojogo-central{
    width:45vw;
    height:25vh;
    position:absolute;
    top:25vh;
    left:45vw;
}
.sobreojogo-img{
    width:50vw;
    height:25vh;
}
.linha-central{
    width:81vw;
    border:solid gray;
    position:absolute;
    top:61vh;
    left:15vw;
}
.lord-cont{
    position:absolute;
    top:63vh;
    left:15vw;
    z-index:1;
}
.lord{
    width:45vw;
    height:85vh;
}
.rey-cont{
    position:absolute;
    top:69vh;
    left:68vw;
    z-index:1;
}
.rey{
    width:25vw;
    height:80vh;
}
.atributos{
    width:100%;
    height:200vh;
    background-color:#2d2d2d;
    position:absolute;
    top:220vh;
}
.lista-central{
    width:29vw;
    position:absolute;
    top:69vh;
    left:40vw;
    z-index:1;
}
.estrutura{
    padding-left:7vw;
    font-size:3rem;
    text-align:right;
    font-weight:800;
}
strong{
    font-family: 'Roboto', sans-serif;
}
li{
    list-style:none;
    font-size:1.5rem;
    text-align:right;
    padding-top:1vh;
    padding-bottom:1vh;
}
li:hover{
    background-color:#d74430;
    color:white;
}
